# === PyCharm ===
.idea/
*.iml

# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# === Environment ===
.env
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# === Bytecode e logs ===
*.log
*.sqlite3
*.db
*.tmp

# === Test output ===
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/

# === Jupyter Notebook checkpoint files ===
.ipynb_checkpoints/

# === VSCode (se usi entrambi gli editor) ===
.vscode/

# === MacOS & Linux ===
.DS_Store
Thumbs.db
